body {
  background: #333};

.navbar {
  border-bottom: 4px solid blue; };
.fa{
	color: green;
	background: #fff;
	padding: 3px;
	border-radius: 4px;
	font-size: 30px;

};
#home-section{
	background: url('../img/pixel1.jpg');
}
